__pycache__/
.env
.venv/
*.egg-info/
build/
dist/
.pytest_cache/
*.log
*.py[cod]

logs/*
!logs/.gitkeep

runtime/*
!runtime/.gitkeep

checkpoints/
checkpoints_video/
checkpoints_vqa_qwen2_5_vl_native/
checkpoints_vqa_qwen3_vl_native/
